/*Styles import*/
@import url(layout/header.css);
@import url(layout/main.css);
@import url(layout/footer.css);

/*Font import*/
@font-face {
  font-family: "ArchivoBlack";
  src:
    url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Regular";
  src:
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src:
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans-Bold";
  src:
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}

/*Font assignation*/
.header__title,
.section__title {
  font-family: "ArchivoBlack", Arial, sans-serif;
}

.header__subtitle,
.header__text,
.header__link,
.project__card-description,
.footer__email {
  font-family: "OpenSans-Regular", Arial, sans-serif;
}

.project__card-title {
  font-family: "OpenSans-Bold", Arial, sans-serif;
}

.header__list-item {
  font-family: "OpenSans-SemiBold", Arial, sans-serif;
}

/*Font styling*/
html {
  font-size: 18px;
}

.header__title {
  margin: 0;
  padding: 40px 20px 15px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.33rem;
}

.header__subtitle {
  filter: brightness(0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.39rem;
  padding: 0px 23px 30px 0px;
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.39rem;
  padding: 0px 20px 30px 0px;
}

.header__list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.38rem;
}

.section__title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.22rem;
  line-height: 2.44rem;
  padding-left: 0.16rem;
}

.project__card-texts {
  padding: 1.66rem;
  background-color: #1c1c1c;
}

.project__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.33rem;
  line-height: 1.83;
  padding-bottom: 1.11rem;
}

.project__card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.38rem;
}

/*General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
}

.body {
  margin: 40px 120px 23px 120px;
  color: #ffff;
  background-color: #111111;
  overflow-x: hidden;
}

/*Media queries for responsive web design*/

/*Desktop-Tablet Breakpoints*/

@media screen and (max-width: 1439px) {
  .footer {
    margin-top: 5rem;
  }

  .project__card {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1220px) {
  .body {
    margin: 40px 40px 25px 40px;
  }
}

/*Tablet 768px*/

@media screen and (max-width: 768px) {
  .hide__char {
    display: none;
  }

  .hero {
    padding-bottom: 70px;
  }
  .header__title {
    font-size: 3.22rem;
    line-height: 3.5rem;
  }

  .header__texts {
    display: flex;
    flex-direction: column;
    max-width: 69%;
  }

  .header__image-ctn {
    width: 31%;
  }

  .header__decoration {
    top: 10%;
  }

  .header__title {
    padding-top: 0;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .project__card {
    width: 100%;
    margin-bottom: 1.11rem;
  }

  .project__card-texts {
    height: auto;
  }

  .project__card-description {
    padding-bottom: 1.66rem;
  }

  .footer {
    margin-top: 4.44rem;
  }
}

/*Tablet-Mobile Breakpoints*/
@media screen and (max-width: 688px) {
  .header__title {
    font-size: 2rem;
    line-height: 2.16rem;
  }

  .header__subtitle,
  .header__text {
    font-size: 0.88rem;
    line-height: 1.22rem;
  }

  .header__texts {
    width: 100%;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .header__texts {
    min-width: 100%;
  }

  .header__decoration {
    left: 10%;
  }

  .header__image-ctn {
    width: 100%;
  }

  .header__image {
    aspect-ratio: 1 / 1;
    min-width: 12.55rem;
    max-width: 40%;
    margin-bottom: 1.66rem;
  }

  .header__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.38rem;
  }

  .project__card {
    min-width: 15.55rem;
  }

  .project__skill-logo {
    width: 1.66rem;
  }

  .project__card-texts {
    padding: 1.11rem;
  }

  .project__card-title {
    font-size: 1.11rem;
    line-height: 1.5rem;
  }

  .project__card-description {
    font-size: 0.88rem;
    line-height: 1.22rem;
  }

  .card__img-logo {
    width: 1.55rem;
  }
}

@media screen and (max-width: 545px) {
  .project__card-icons {
    top: 80%;
  }

  .section__title {
    font-size: 1.55rem;
    line-height: 1.66rem;
    padding-bottom: 1.66rem;
  }

  .section__skills {
    padding-bottom: 3.33rem;
  }
}

@media screen and (max-width: 420px) {
  .header__image {
    max-width: 80%;
  }

  .project__card-icons {
    top: 75%;
  }

  .body {
    margin: 1.11rem;
  }
}

/*Mobile 320px*/
@media screen and (max-width: 320px) {
  .header__image {
    max-width: 100%;
  }

  .header__decoration {
    left: 0;
    top: 0;
  }

  .project__skill-logo {
    min-width: 1.66rem;
    flex-wrap: wrap;
  }

  .project__card-icons {
    top: 70%;
  }

  .skill__logos {
    column-gap: 2.94rem;
    row-gap: 1.66rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer {
    margin-top: 3.33rem;
  }
  .footer__icons {
    justify-content: center;
    gap: 2.22rem;
  }
}
